#drop-area {
    position: fixed;
    left: 0;
    top: 0;
    border: 1rem solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
#drop-area.highlight {
    border-color: aquamarine;
}
.button {
    display: inline-block;
    padding: .625rem;
    background: #ccc;
    cursor: pointer;
    border-radius: .3125rem;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}
.desktop {
    display: flex;
    flex-wrap: wrap;
}
.file {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem 0 0;
}
.file-icon {
    height: 3rem;
}
.file-label {
    font-size: small;
    padding: .125rem;
    background-color: aquamarine;
    margin-top: .25rem;
}
.attribution {
    margin-top: auto;
    text-align: right;
    font-weight: lighter;
    font-size: small;
}