html,
body,
#drop-area {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#drop-area {
    border: 1rem solid #ccc;
    padding: 1rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}
#drop-area.highlight {
    border-color: purple;
}

.button {
    display: inline-block;
    padding: .625rem;
    background: #ccc;
    cursor: pointer;
    border-radius: .3125rem;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}
